* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  letter-spacing: 2px;
}

ul.topnav li a:hover:not(.active) {
  background-color: rgba(0, 0, 0, 0.05);
}

ul.topnav li a.active {
  background-color: #2d56a8;
  color: white;
}

ul.topnav li.right {
  float: right;
  letter-spacing: 5px;
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.abt {
  position: relative;
  top: 20px;
  box-sizing: border-box;
  letter-spacing: 2px;
  left: 5%;
  display: inline-block;
  width: 50%;
}
.container-fluid {
  display: block;
  margin-top: 0px;
}

#serv .pr1 .col1 img {
  position: relative;
  display: inline;
  width: 435px;
  float: left;
  height: 464px;
  border-radius: 15px;
  margin: 10% 5%;
}

.slide img {
  width: 100vw;
  height: 91vh;
  object-position: center;
  display: none;
  animation: ch 1s ease;
}

.active img {
  display: block;
}

.slide {
  position: relative;
}

@keyframes ch {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.container-fluid .btn {
  position: absolute;
  left: 42%;
  top: 74%;
}

.container-fluid a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  background-color: #2d56a8;
  padding: 20px 45px;
  border-radius: 12px;
}

.container-fluid a:hover {
  color: #2d56a8;
  background-color: rgba(255, 255, 255, 0.712);
  transition: 0.5s;
}
#serv .pr1 .col2 {
  display: inline-block;
  width: 50%;
  margin-top: 100px;
  margin-right: 2%;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
}

#serv p {
  text-align: center;
  font-size: 16px;
  color: rgb(68, 66, 66);
  font-weight: 100;
  font-family: cursive;
}
.bio {
  top: 30px;
  position: relative;
  box-shadow: 10px 2px 3px grey;
}
/* Skill */
.skill {
  position: relative;
  top: 50px;
  width: 100%;
  text-align: left;
  height: 100vh;
}

.skill h3 {
  position: relative;
  text-align: left;
  right: 500px;
}
.skill p {
  position: relative;
  margin-left: 60px;
  text-align: left;
}
.progress {
  width: 50%;
  margin-left: 60px;
}
.progressbar {
  position: relative;
  background-color: green;
}
.text-white {
  color: white;
  text-align: center;
}
/* footer */
footer {
  margin-top: 12%;
}
footer p {
  color: white;
  font-size: 24px;
  background-color: #2d56a8;
  text-align: center;
  padding: 20px 0;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: #777;
}
#btt {
  position: fixed;
  bottom: 20px;
  font-size: 50px;
  right: 20px;
  padding: 10px;
  padding-bottom: 0px;
  background-color: #2d56a8;
  color: white;
  font-weight: bolder;
  display: none;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
  #serv .pr1 .col1 img {
    left: 40px;
  }
  #serv .pr1 .col2 {
    display: inline;
  }

  .bio h3 {
    text-align: left;
  }
  .col2 h3 {
    text-align: left;
  }
  .footer {
    margin-top: 200%;
  }
  .progress {
    width: 80%;
    margin-left: 30px;
  }
  .skill h3 {
    right: 0;
  }
  .slide img {
    width: 100vw;
    height: 61vh;
    object-position: center;
    display: none;
    animation: ch 1s ease;
  }
}
@media screen and (max-width: 425px) {
  #serv .pr1 .col1 img {
    left: 0;
    right: 0;
    width: 325px;
    height: 354px;
    align-items: center;
  }
  #serv .pr1 .col2 {
    display: inline;
  }
  .progress {
    width: 85%;
    margin-left: 30px;
  }
  .skill p,
  h3 {
    text-align: left;
    margin-left: 30px;
  }
  .skill h3 {
    right: 0;
  }
  .slide img {
    width: 100vw;
    height: 51vh;
    object-position: center;
    display: none;
    animation: ch 1s ease;
  }
  .active img {
    display: block;
  }
  .container-fluid .btn {
    left: 28%;
    top: 60%;
  }
}
